<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>rOOm</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("rOOm", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                      
                                <li>@Html.ActionLink("Lịch phòng", "Index", "RoomRegister")
                                @if (Roles.IsUserInRole("Manager")) {
                                    <li>@Html.ActionLink("Thiết bị phòng", "Index", "RoomAssets")</li>
                                }
                                @if (Roles.IsUserInRole("Teacher")) {
                                    <li>@Html.ActionLink("Đăng kí phòng", "Create", "RoomRegister")</li>
                                    <li> @Html.ActionLink("Phòng đã đăng kí", "RoomRegistered", "RoomRegister")</li>
                                    <li>@Html.ActionLink("Lịch sử đăng kí", "HistoryRegistered", "RoomRegister")</li>
                                }
                                @if (Roles.IsUserInRole("Admin")) {
                                    <li>@Html.ActionLink("Quản lí quyền", "RoleIndex", "Account")</li>
                                    <li>@Html.ActionLink("Gán quyền", "RoleAddToUser", "Account")</li>
                                } else {
                                    <li>@Html.ActionLink("Thông tin", "About", "Home")</li>
                                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                                }
                           
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - SGU group - 273 An Dương Vương P.10 Q.5 HCM </p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
