<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - rOOm</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)

</head>
<body>
    <div id='cssmenu' class="container navbar-inverse navbar-fixed-top">
        <ul>
            <li name="Home">@Html.ActionLink("Home", "Index", "Home")</li>
            <!--
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
             -->
            @if (Request.IsAuthenticated)
            {
                <li name="LP">@Html.ActionLink("Lịch phòng", "Index", "RoomRegister")</li>
                if (User.IsInRole("Manager"))
                {
                    <li name="TBP">@Html.ActionLink("Thiết bị phòng", "Index", "RoomAssets")</li>
                }
                if (User.IsInRole("Teacher"))
                {
                    <li name="DKP">@Html.ActionLink("Đăng kí phòng", "Create", "RoomRegister")</li>
                    <li name="PDDK">@Html.ActionLink("Phòng đã đăng kí", "RoomRegistered", "RoomRegister")</li>
                    <li name="LSDK">@Html.ActionLink("Lịch sử đăng kí", "HistoryRegistered", "RoomRegister")</li>
                }
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
    @RenderSection("featured", required: false)
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - T4Co - T4Room Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true
    });
    </script>
</body>
</html>
