@{
    ViewBag.Title = "RoleCreate";
    // Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="spacerBody">
    <p>&nbsp;</p>
    @Html.ActionLink("Danh mục quyền", "RoleIndex") | @Html.ActionLink("Thêm quyền cho người dùng", "RoleAddToUser")
<h2>Tạo quyền mới</h2>

@using(Html.BeginForm()){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>Tên quyền</div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Lưu" />
}
</div>